img{
    width: 100%;
}
li{
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Josefin Sans", sans-serif;
}
.card{
    border: none;
}
/*  */
nav .icon_right i{
    color: #000;
    width: 35px;
    height: 35px;
    line-height: 35px;
    transition: all .3S;
}
nav .icon_right i:hover{
    color: #ff003c;
}
nav .nav-item{
    padding:25px 16px;
    font-weight: 500;
}
nav .menu_color .nav-item .nav-link{
    color: #000;
    font-family: 'Josefin Sans', sans-serif;
    transition: all .3s;
}
nav .menu_color .nav-item .nav-link:hover{
    color: #ff003c;
}
nav .hot {
    position: relative;
}
nav .hot::before {
    position: absolute;
    content: "HOT";
    background: #ff003c;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    font-size: 10px;
    top: 19px;
    right: -13px;
    padding: 3px 8px;
    top: 12px;
    right: -4px;
    letter-spacing: 1px;
    font-weight: 500;
}
/* Navbar */
.home{
    background-color: #f0f0f2;
    overflow: hidden;
}

.home .text_big_home h1{
    font-size:90px;
    font-weight: 700;
    font-family: "Josefin Sans", sans-serif;
    color: #0b1c39;
    margin-bottom: 26PX;
}
.home .text_big_home P{
    font-size: 17px;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 39px;
    color: #212025;
    margin-bottom: 60px;
    padding-right: 50px;
}
.home .shopNow-buttom{
    background-color: #4a4a4b;
    border-radius: 0;
    color: #fff;
    font-family: "Josefin Sans", sans-serif;
    padding: 12px 28px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .5px;
    position: relative;
    z-index: 1;
    border: none;
}
.home .shopNow-buttom::before{
    content: "";
    width:0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff2020;
    transition: all .3s ease-in-out;
    z-index: -1;
}
.home .shopNow-buttom:hover::before{
    width: 100%;
}
.home .img_home img{
    width: 130%;
}
.home .img_home{
    transition: all .5s;
    animation:img-home 3s infinite alternate ;
}
@keyframes img-home{
    0%{transform:scale(1);}
    100%{transform:scale(1.05);}

}
/* Home */
.new_arrivals{
    padding: 70px 0;
}
.new_arrivals .name_new_arrivals{
    margin-bottom: 70px;
}
.new_arrivals .name_new_arrivals h2{
    font-size: 48px;
    font-weight: 700;
    font-family: "Josefin Sans", sans-serif;
}
.new_arrivals .card{
    border: none;
}
.new_arrivals .new_arrivals-tran .img-new-arrivals{
    overflow: hidden;
}
.new_arrivals .new_arrivals-tran img{
    transition: all .6s;
}
.new_arrivals .new_arrivals-tran:hover img{
    transform:scale(1.04);
}
.new_arrivals .new_arrivals-tran h5{
    color: #444444;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 12px;
    font-family: "Josefin Sans", sans-serif;
}
.new_arrivals .new_arrivals-tran p{
    color: #ff2020;
    font-size: 18px;
    font-weight: 500;
}
.sour{
    padding: 70px 0;
}
.sour .row{
    overflow: hidden;
}
.sour .img-sour-3{
    margin-bottom: 30px;
}
.sour .img-sour{
    position: relative;
    overflow: hidden;
}
.sour .img-sour::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1;
    opacity: 0;
    transition: all .5s;
}
.sour .img-sour:hover::before{
    opacity:.2;
}
.sour .img-sour img{
    transition: all 1s;
    transform: scale(1.2);
}
.sour .img-sour:hover img{
    transform: scale(1.1);
}
/* sour */
.popular_items{
    padding: 70px 0;
}
.popular_items .card{
    margin-bottom: 30px;
}
.popular_items .img-popular{
    border-bottom: 3px solid #ff2020;
    position: relative;
}
.popular_items .img-popular{
    overflow: hidden;
}
.popular_items .img-popular .add{
    background-color: #ff003c;
    color: #fff;
    width: 100%;
    bottom: -56px;
    left: 0;
    right: 0;
    padding: 15px;
    border-radius: 0;
    transition: all .5s;
}
.popular_items .card:hover .img-popular .add{
    bottom: 0;
}
/* .popular_items .img-popular::after{
    content: "Add to card";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: #ff003c;
    color: #fff;
    line-height: 55px;
    transition: all .5s;

}
.popular_items .card:hover .img-popular::after{
    height: 15%;
} */
.popular_items .text-top-popular-items h2{
    font-size: 48px;
    font-weight: 700;
}
.popular_items .text-top-popular-items p{
    color: #777;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 70px;
}
.popular_items .card .icon{
    position: absolute;
    z-index: 2;
    right: 15px;
    top: 15px;
    display: none;
}
.popular_items .card .icon i{
    font-size: 35px;
}
.popular_items .card:hover .icon{
    display: inline-block;
}
.popular_items .card h5{
    font-size: 24px;
    font-weight: 700;
    color: #444;
}
.popular_items .card p{
    font-weight: 500;
    font-size: 18px;
    color: #444;
}
.popular_items .buttom_popular{
    text-align: center;
    margin-top: 30px;
}
.popular_items .shopNow-buttom {
    background-color: #4a4a4b;
    border-radius: 0;
    color: #fff;
    font-family: "Josefin Sans", sans-serif;
    padding:17px 28px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .5px;
    position: relative;
    z-index: 1;
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
}
.popular_items .shopNow-buttom::before {
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    background-color: #ff2020;
    transition: all .3s;
    z-index: -1;
}
.popular_items .shopNow-buttom:hover::before {
    width: 100%;
}
/* popular_items */
.watch_of_choice_one{
    padding: 70px 0;
}
.watch_of_choice_one .text_watch_of_choice_one h2{
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 40px;
}
.watch_of_choice_one .text_watch_of_choice_one p{
    color: #777;
    line-height: 30px;
    font-size: 17px;
    margin-bottom: 30px;
}
.watch_of_choice_one .buttom_popular .shopNow-buttom {
    background-color: #ff2020;
    border-radius: 0;
    color: #fff;
    font-family: "Josefin Sans", sans-serif;
    padding: 17px 28px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .5px;
    position: relative;
    z-index: 1;
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    margin-top: 30px;
}

.watch_of_choice_one .buttom_popular .shopNow-buttom::before {
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    background-color: #4a4a4a;
    transition: all .3s;
    z-index: -1;
}

.watch_of_choice_one .shopNow-buttom:hover::before {
    width: 100%;
}
.watch_of_choice_one .style-watch{
    padding-right: 90px;
}
/* watch_of_choice_one */
.watch_of_choice_two {
    padding: 70px 0;
}
.watch_of_choice_two .text_watch_of_choice_one h2 {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 40px;
}
.watch_of_choice_two .text_watch_of_choice_one p {
    color: #777;
    line-height: 30px;
    font-size: 17px;
    margin-bottom: 30px;
}
.watch_of_choice_two .buttom_popular .shopNow-buttom {
    background-color: #ff2020;
    border-radius: 0;
    color: #fff;
    font-family: "Josefin Sans", sans-serif;
    padding: 17px 28px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .5px;
    position: relative;
    z-index: 1;
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    margin-top: 30px;
}
.watch_of_choice_two .buttom_popular .shopNow-buttom::before {
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    background-color: #4a4a4a;
    transition: all .3s;
    z-index: -1;
}
.watch_of_choice_two .shopNow-buttom:hover::before {
    width: 100%;
}
.watch_of_choice_two .style-watch{
    padding-left:90px;
}
/* watch_of_choice_two */
.section-red{
    padding: 70px 0;
}
.section-red .container{
    background-color: #ea0000;
}
.section-red .row{
    padding: 30px;
}
.section-red i{
    font-size: 40px;
    color: #fff;
    margin-bottom: 25px;
}
.section-red h6{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
    font-family: "Roboto", sans-serif;
}
.section-red P{
    font-size: 16px;
    color: #d3d1d1;
    padding-right: 30px;
    line-height:2;
}
/* section-red */
.footer_top{
    padding: 70px 0;
}
.footer_top .list-left img{
    width: 132px;
    margin-bottom: 40px;
}
.footer_top .list-left p{
    color: #868c98;
}
.footer_top h4{
    font-size: 20px;
    margin-bottom: 29px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
}
.footer_top .row{
    padding: 15px;
}
.footer_top ul li{
    margin: 0;
}
.footer_top a{
    color: #868c98;
    position: relative;
    line-height: 2;
    transition:  all .5s;
}
.footer_top a:hover{
    text-decoration: none;
    margin: 5px;
    color: #ea0000;
}
.footer_top .footer_list{
    margin-bottom: 50px;
}
.footer_top .bottom-left .icon i{
    margin: 0 10px;
    transition: all .5s;
}
.footer_top .bottom-left .icon i:hover{
    color: #ea0000;
    transform: rotateY(180deg);
}
/* Footer_top */
@media screen and (min-width:768px) and (max-width:1023px) {
    .home .img_home img{
        display: none;
    }
    .home{
        padding: 70px 0;
    }
    .home .text_big_home h1{
        font-size: 60px;
    }
    .img_watch_of_choice_one{
        margin: 30px 0;
    }
}